<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Mid-Century Ipsum</title>
        <meta name="description" content="Mid-Century Ipsum: Swingin' filler text for your jet-age web page.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/mcm.css">
        <script src="js/modernizr.min.js"></script>
        <script src="js/fonts.js"></script>
    </head>
    <body>
        <div class="header-container">
            <header id="page-header">
                <h1><span class="word">Mid-Century</span><span class="word">Ipsum</span></h1>
                <p class="tagline">Swingin' filler text for your jet-age web page.</p>
            </header>
        </div>

        <article id="ipsum">${model.ipsum}</article>

        <footer id="page-footer">
            <p>Built by <a href="http://twitter.com/rfletcherEW">Rob Fletcher</a></p>
            <p>with <a href="http://ratpack-framework.org/">Ratpack</a></p>
            <p>Source code available on <a href="http://git.io/midcentury-ipsum">GitHub</a></p>
        </footer>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-42759275-1', 'herokuapp.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>