@import "compass";

$strict-normalize: false;
$base-font-family: serif;
$content-width: 768px;
$page-gutter: 1rem;
$header-font-size: $base-font-size * 6;

@import "normalize";
@import "layout";
@import "colorscheme";

body {
  @include contrasted($body-background);

  background: {
    image: image-url("dino.png");
    position: center bottom;
    repeat: no-repeat;
  }

  @media only screen and (min-width: image-width("dino.png")) {
    @include background-size(contain);
  }

  opacity: 0;
  @include single-transition(opacity, 0.2s);
  
  .wf-active &, .wf-inactive & {
    opacity: 1;
  }
}

#page-header {
  @include contrasted($grey);

  h1 {
    font: {
      family: 'Playfair Display', serif;
      weight: 700;
      style: italic;
      size: $header-font-size;
    }
    line-height: 1;
    text-transform: lowercase;
    @include padding-leader(1, $header-font-size);
    @include padding-trailer(1, $header-font-size);
    margin: {
      top: 0;
      bottom: 0;
    }

    .word {
      display: block;
      &:first-child {
        font: {
          width: 900;
          style: normal;
        }
      }
    }

    .wf-active & {
      position: relative;
      top: -0.13em;
    }
  }
}

#ipsum {
  font: {
    family: 'Cardo', serif;
  }
  padding-bottom: image-height("dino.png") / 2;
  @include adjust-font-size-to(20px);
}

#page-footer {
  @include padding-leader(1);
  @include padding-trailer(1);
  padding: {
    left: 1rem;
    right: 1rem;
  }
  font: {
    family: 'PT Mono', sans-serif;
  }
  text-transform: uppercase;
  letter-spacing: 0.5em;

  text-align: right;
  @include contrasted($footer-background);

  p {
    @include rhythm(1, 0, 0, 1);
  }

  a {
    color: $yellow;
    text-decoration: none;
    
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}